h1
	text-align center

.container
	width 85%
	margin 0 auto

	.tabs
		list-style-type none
		margin 0
		padding 0

		.tab
			padding 15px
			display inline-block
			cursor pointer

			&.active
				border 2px solid #ccc
				border-bottom none
				background-color #fff
				z-index 9


	.panels
		width 100%
		border 2px solid #ccc
		text-align center
		margin-top -2px

		.panel
			&.hide
				display none